# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Latex
paper.bbl
paper.blg
paper.log
paper.pdf
paper.aux
paper.out
macros.aux
/cav2017/cav2017.pdf
/cav2017/cav2017.aux
/cav2017/cav2017.bbl
/cav2017/cav2017.blg
/cav2017/cav2017.log
